<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!--单独xml式配置 ,避免其他项目引用 可能带来的错误 -->
	<bean id="paymentAdaptorFactory" class="com.feilong.framework.netpay.payment.DefaultPaymentAdaptorFactory">
		<property name="paymentAdaptorMap">
			<map>
				<entry key="3" value-ref="alipayOnlineNetpayAdaptor"></entry>
				<entry key="6" value-ref="alipayOnlineAdaptor"></entry>
				<entry key="14" value-ref="alipayOnlineCreditCardAdaptor"></entry>
				
				<!-- 21支付宝-境外收单(PC) -->
				<entry key="21" value-ref="alipayOnlineAdaptor"></entry>
				<!-- 22支付宝-境外收单(Mobile) -->
				<entry key="22" value-ref="alipayOnlineCreditCardAdaptor"></entry>

				<!-- 国际信用卡 -->
				<entry key="131" value-ref="alipayOnlineInternationalCardAdaptor"></entry>
				<entry key="141" value-ref="alipayOnlineScanCodeAdaptor"></entry>


				<entry key="15" value-ref="chinapnrAdaptor"></entry>

				<!-- 有新的支付方式 ,请在下面扩展配置 -->

				<entry key="doku_mandiri" value-ref="mandiriClickPayAdaptor"></entry>
				<entry key="doku_bri" value-ref="briEPayAdaptor"></entry>
				<entry key="doku_atm" value-ref="permataVALITEPayAdaptor"></entry>

				<entry key="bca_klikpay" value-ref="sprintAsiaKlikPayAdaptor"></entry>
				<entry key="bca_creditcard" value-ref="sprintAsiaCreditCardAdaptor"></entry>

				<entry key="bca_tcash" value-ref="tcashPayAdaptor"></entry>
			</map>
		</property>
	</bean>

	<import resource="classpath:spring/payment/payment/adaptor*.xml" />
</beans>