/*------------------------------------------------------	
	*Description: 	布局样式		
	*Author 	:	金鑫	
	*Version	:	1.0.1   (2009年4月16日)	
---------------------------------------------------------*/
body					{text-align:center;background: url("image/bg.jpg") repeat-x;}
#container				{margin:0 auto;width:950px;text-align:left;}
	#header				{padding:9px 0 2px 0;margin-bottom:5px;}
	
	#nav,#search		{width:99%px;min-height: 16px}
		#nav				{padding:8px 15px 8px 12px;margin-top:8px;height: 16px;}
			#nav a			{margin-left: 10px}
				#nav a img	{margin-right: 4px}
			
		#search			{padding:8px 15px 8px 12px;margin-top:8px;height: 16px;}		
	#main				{clear:both;padding:0;min-height: 400px;}	
		#left			{float:left;margin:2px 0 2px 2px;width:225px;vertical-align:top;}			
		#center			{float:left;margin:2px 0 2px 5px;width:610px;}
		#right			{float:left;margin:2px 2px 2px 3px;width:170px}			
	#footer				{clear:both;border-top:1px solid #BBE1F1;padding:6px 0 15px;margin:10px 0 0 0;text-align:center;}
		
/*-----------------------------------------------------
	*Description: 	头部样式	
	*Author 	:	金鑫	
	*Version	:	1.0.1   (2009年6月30日)	
-------------------------------------------------------*/	
#header .span_left 		{float: left; margin-left: 50px}
#header .span_right 	{float: right; margin-right: 50px}
#header #ajax 			{float: right;  display: none;margin-right: 50px; background: #FFF5FA; border: 1px solid #F8B3D0; padding: 5px;}
#header #div_logo 		{clear: both; text-align: center;}
#header #div_logo #a_logo {vertical-align: top; cursor: pointer; display: block; width: 260px; margin: 0 auto;}
#span_logo 				{ *filter: progid :DXImageTransform.Microsoft.AlphaImageLoader (src ='res/image/logo/logo.png', sizingMethod = 'scale');display: block; width: 260px; height: 75px; margin-bottom: 2px}