/* 全局 */
.div_feilongPager			{padding:3px;margin:3px;}
.div_feilongPager .span_pagerInfo 	{border:1px solid #999;padding:2px 5px;margin:2px;color:#777;}

/* digg */
div.digg a 					{border:1px solid #aad;padding:2px 5px;margin:2px;color:#009;text-decoration:none}
div.digg a:link 			{color:#009;}
div.digg a:visited 			{color:#009;}
div.digg a:hover 			{border:1px solid #009;color:#000;}
div.digg a:active 			{border:1px solid #009;color:#000;}
div.digg span.current 		{border:1px solid #009;padding:2px 5px;margin:2px;font-weight:bold;color:#fff;background:#009}
div.digg span.disabled 		{border:1px solid #999;padding:2px 5px;margin:2px;color:#777;}

/* yahoo */
div.yahoo a 				{border:1px solid #fff;padding:2px 5px;margin:2px;color:#009;text-decoration:underline}
div.yahoo a:link 			{color:#009;}
div.yahoo a:visited 		{color:#009;}
div.yahoo a:hover 			{border:1px solid #009;color:#000;}
div.yahoo a:active 			{border:1px solid #009;color:#f00;}
div.yahoo span.current 		{border:1px solid #fff;padding:2px 5px;font-weight:bold;margin:2px;color:#000;background:#fff}
div.yahoo span.disabled 	{border:1px solid #eee;padding:2px 5px;margin:2px;color:#ddd;}

/* msdn */
div.msdn 					{padding:4px 6px 8px 0px;font-size:13px;color:#313031;font-family:verdana,arial;background:#fff;}
div.msdn a 					{border:1px solid #b7d8ee;padding:5px 6px 4px 5px;margin:0px 3px;color:#0030ce;text-decoration:none}
div.msdn a:link 			{color:#0030ce;}
div.msdn a:visited 			{color:#0030ce;}
div.msdn a:hover 			{border:1px solid #b7d8ee;color:#0066a7;background:#d2eaf6}
div.msdn a:active 			{border:1px solid #b7d8ee;color:#0066a7;background:#d2eaf6}
div.msdn span.current 		{border:1px solid #b7d8ee;padding:5px 6px 4px 5px;font-weight:bold;margin:0px 3px;color:#444;background:#d2eaf6}
div.msdn span.disabled 		{border:1px solid #999;padding:2px 5px;margin:2px;color:#777;}

/* badoo */
div.badoo 					{padding:10px 0;font-size:13px;color:#48b9ef;font-family:arial, helvetica, sans-serif;background:#fff;}
div.badoo a 				{border:2px solid #f0f0f0;padding:2px 5px;margin:0px 2px;color:#48b9ef;text-decoration:none}
div.badoo a:link 			{color:#48b9ef;}
div.badoo a:visited 		{color:#48b9ef;}
div.badoo a:hover 			{border:2px solid #ff5a00;color:#ff5a00;}
div.badoo a:active 			{border:2px solid #ff5a00;color:#ff5a00;}
div.badoo span.current 		{border:2px solid #ff5a00;padding:2px 5px;font-weight:bold;color:#fff;background:#ff6c16}
div.badoo span.disabled 	{display:none}

/* viciao */
div.viciao a 				{border:1px solid #8db5d7;padding:2px 5px; color:#000;margin:0 2px 0 0; text-decoration:none}
div.viciao a:link 			{color:#000;}
div.viciao a:visited 		{color:#000;}
div.viciao a:hover 			{border:1px solid red;padding:2px 5px;margin:0 2px 0 0;}
div.viciao a:active 		{border:1px solid red;padding:2px 5px;margin:0 2px 0 0;}
div.viciao span.current 	{border:1px solid #e89954;padding:2px 5px;font-weight:bold;color:#000;margin:0 2px 0 0;background:#ffca7d}
div.viciao span.disabled 	{border:1px solid #ccc;padding:2px 5px; color:#ccc;margin:0 2px 0 0;}

/* meneame */
div.meneame 				{padding:3px;font-size:80%;margin:3px;color:#ff6500;}
div.meneame a 				{border:1px solid #ff9600;padding:5px 7px;background-position:50% bottom;background-image:url("css/pager/meneame.jpg");color:#ff6500;margin:0 3px 0 0;text-decoration:none}
div.meneame a:link 			{color:#ff6500;}
div.meneame a:visited 		{color:#ff6500;}
div.meneame a:hover 		{border:1px solid #ff9600;background-image:none;color:#ff6500;background:#ffc794}
div.meneame a:active 		{border:1px solid #ff9600;background-image:none;color:#ff6500;background:#ffc794}
div.meneame span.current 	{border:1px solid #ff6500;padding:5px 7px;font-weight:bold;color:#ff6500;margin:0 3px 0 0;background:#ffbe94}
div.meneame span.disabled 	{border:1px solid #ffe3c6;padding:5px 7px;color:#ffe3c6;margin:0 3px 0 0;}

/* flickr */
div.flickr a 				{border:1px solid #dedfde;padding:2px 6px;background-position:50% bottom;color:#0061de;margin:0 3px 0 0;text-decoration:none}
div.flickr a:link 			{color:#0061de;}
div.flickr a:visited 		{color:#0061de;}
div.flickr a:hover 			{border:1px solid #000;background-image:none;color:#fff;background:#0061de}
div.flickr a:active 		{border:1px solid #000;background-image:none;color:#fff;background:#0061de}
div.flickr span.current 	{padding:2px 6px;font-weight:bold;color:#ff0084;margin:0 3px 0 0;}
div.flickr span.disabled 	{padding:2px 6px;color:#adaaad;margin:0 3px 0 0;}

/* sabrosus */
div.sabrosus a 				{border:1px solid #9aafe5;padding:0 5px;color:#2e6ab1;margin:0 2px 0 0;text-decoration:none}
div.sabrosus a:link 		{color:#2e6ab1;}
div.sabrosus a:visited 		{color:#2e6ab1;}
div.sabrosus a:hover 		{border:1px solid #2b66a5;color:#000;background:lightyellow}
div.sabrosus a:active 		{border:1px solid #2b66a5;color:#000;background:lightyellow}
div.sabrosus span.current 	{border:1px solid navy;padding:0 5px;font-weight:bold;color:#fff;margin:0 2px 0 0;background:#2e6ab1}
div.sabrosus span.disabled 	{border:1px solid #929292;padding:0 5px;color:#929292;margin:0 2px 0 0;}

/* scott */
div.scott a 				{border:1px solid #ddd;padding:2px 5px;color:#88af3f;margin:0 2px 0 0;text-decoration:none}
div.scott a:link 			{color:#88af3f;}
div.scott a:visited 		{color:#88af3f;}
div.scott a:hover 			{border:1px solid #85bd1e;color:#638425;background:#f1ffd6}
div.scott a:active 			{border:1px solid #85bd1e;color:#638425;background:#f1ffd6}
div.scott span.current 		{border:1px solid #b2e05d;padding:2px 5px;font-weight:bold;color:#fff;margin:0 2px 0 0;background:#b2e05d}
div.scott span.disabled 	{border:1px solid #f3f3f3;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

/* quotes */
div.quotes a 				{border:1px solid #ddd ;padding:2px 5px;color:#aaa;margin:0 2px 0 0;text-decoration:none}
div.quotes a:link 			{color:#aaa;}
div.quotes a:visited 		{color:#aaa;}
div.quotes a:hover 			{border:1px solid #a0a0a0;padding:2px 5px;margin:0 2px 0 0;}
div.quotes a:active 		{border:1px solid #a0a0a0;padding:2px 5px;margin:0 2px 0 0;}
div.quotes span.current 	{border:1px solid #e0e0e0;padding:2px 5px;font-weight:bold;color:#aaa;margin:0 2px 0 0;background:#f0f0f0}
div.quotes span.disabled 	{border:1px solid #f3f3f3;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

/* black */
div.black 					{padding:10px 3px;font-size:80%;margin:3px;color:#a0a0a0;background:#000;}
div.black a 				{border:1px solid #909090;background-position:50% bottom;background-image:url("css/pager/bar.gif");color:#c0c0c0;margin:0 3px 0 0;padding:2px 5px;text-decoration:none}
div.black a:link 			{color:#c0c0c0;}
div.black a:visited 		{color:#c0c0c0;}
div.black a:hover 			{border:1px solid #f0f0f0;background-image:url("css/pager/invbar.gif");color:#ffffff;background:#404040}
div.black a:active 			{border:1px solid #f0f0f0;background-image:url("css/pager/invbar.gif");color:#ffffff;background:#404040}
div.black span.current 		{border:1px solid #ffffff;padding:2px 5px;font-weight:bold;color:#ffffff;margin:0 3px 0 0;background:#606060}
div.black span.disabled 	{border:1px solid #606060 ;padding:2px 5px;color:#808080;margin:0 3px 0 0;}

/* black2 */
div.black2 					{padding:7px;margin:3px;}
div.black2 a 				{border:1px solid #000;padding:2px 5px;margin:2px;color:#000;text-decoration:none}
div.black2 a:link 			{color:#000;}
div.black2 a:visited 		{color:#000;}
div.black2 a:hover 			{border:1px solid #000;color:#fff;background:#000}
div.black2 a:active 		{border:1px solid #000;color:#fff;background:#000}
div.black2 span.current 	{border:1px solid #000;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background:#000}
div.black2 span.disabled 	{border:1px solid #eee;padding:2px 5px;margin:2px;color:#ddd;}

/* black-red */
div.black-red 				{font-size:11px;color:#fff;font-family:tahoma, arial, helvetica, sans-serif;background:#3e3e3e}
div.black-red a 			{padding:2px 5px;margin:2px;color:#fff;background:#3e3e3e;text-decoration:none}
div.black-red a:link 		{color:#fff;}
div.black-red a:visited 	{color:#fff;}
div.black-red a:hover 		{color:#fff;background:#ec5210}
div.black-red a:active 		{color:#fff;background:#ec5210}
div.black-red span.current 	{padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background:#313131}
div.black-red span.disabled {padding:2px 5px;margin:2px;color:#868686;background:#3e3e3e}

/* grayr */
div.grayr 					{padding:2px;font-size:11px;font-family:tahoma, arial, helvetica, sans-serif;background:#c1c1c1}
div.grayr a 				{padding:2px 5px;padding-bottom:2px;margin:2px;color:#000;padding-top:2px;background:#c1c1c1;text-decoration:none}
div.grayr a:link 			{color:#000;}
div.grayr a:visited 		{color:#000;}
div.grayr a:hover 			{color:#000;background:#99ffff}
div.grayr a:active 			{color:#000;background:#99ffff}
div.grayr span.current 		{padding:2px 5px;font-weight:bold;margin:2px;color:#303030;background:#fff}
div.grayr span.disabled 	{padding:2px 5px;margin:2px;color:#797979;background:#c1c1c1}

/* yellow */
div.yellow 					{padding:7px;margin:3px;}
div.yellow a 				{border:1px solid #ccc;padding:2px 5px;margin:2px;color:#000;text-decoration:none}
div.yellow a:link 			{color:#000;}
div.yellow a:visited 		{color:#000;}
div.yellow a:hover 			{border:1px solid #f0f0f0;color:#000;}
div.yellow a:active 		{border:1px solid #f0f0f0;color:#000;}
div.yellow span.current 	{border:1px solid #d9d300;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background:#d9d300}
div.yellow span.disabled 	{border:1px solid #eee;padding:2px 5px;margin:2px;color:#ddd;}

/*jogger*/
div.jogger 					{padding:2px;margin:7px;font-family:"lucida sans unicode", "lucida grande",geneva, verdana, sans-serif}
div.jogger a 				{padding:0 0.64em;margin:2px;color:#fff;background:#ee4e4e;text-decoration:none}
div.jogger a:link 			{color:#fff;}
div.jogger a:visited 		{color:#fff;}
div.jogger a:hover 			{padding:0 0.64em;margin:2px;color:#fff;background:#de1818}
div.jogger a:active 		{padding:0 0.64em;margin:2px;color:#fff;background:#de1818}
div.jogger span.current 	{padding:0 0.64em;margin:2px;color:#6d643c;background:#f6efcc}
div.jogger span.disabled 	{display:none}

/* starcraft2  */
div.starcraft2 				{padding:3px;font-weight:bold;font-size:13.5pt;margin:3px;color:#fff;font-family:arial;background:#000;}
div.starcraft2 a 			{margin:2px;color:#fa0;background:#000;text-decoration:none}
div.starcraft2 a:link 		{color:#fa0;}
div.starcraft2 a:visited 	{color:#fa0;}
div.starcraft2 a:hover 		{color:#fff;background:#000}
div.starcraft2 a:active 	{color:#fff;background:#000}
div.starcraft2 span.current {font-weight:bold;margin:2px;color:#fff;background:#000}
div.starcraft2 span.disabled{margin:2px;color:#444;background:#000}

/*  tres */
div.tres 					{padding:7px;font-weight:bold;font-size:13.2pt;margin:3px;font-family:arial, helvetica, sans-serif;}
div.tres a 					{border:2px solid #d9d300;margin:2px;color:#fff;padding:2px 5px;background:#d90;text-decoration:none}
div.tres a:link 			{color:#fff;}
div.tres a:visited 			{color:#fff;}
div.tres a:hover 			{border:2px solid #ff0;color:#000;background:#ff0}
div.tres a:active 			{border:2px solid #ff0;color:#000;background:#ff0}
div.tres span.current 		{border:2px solid #fff;padding:2px 5px;font-weight:bold;margin:2px;color:#000;}
div.tres span.disabled 		{display:none}

/*  megas512  */
div.megas512 a 				{border:1px solid #dedfde; background-position:50% bottom;padding:2px 6px;color:#99210b;margin:0 3px 0 0;text-decoration:none}
div.megas512 a:link 		{color:#99210b;}
div.megas512 a:visited 		{color:#99210b;}
div.megas512 a:hover 		{border:1px solid #000;background-image:none;color:#fff;background:#777777}
div.megas512 a:active 		{border:1px solid #000;background-image:none;color:#fff;background:#777777}
div.megas512 span.current 	{font-weight:bold;color:#99210b;margin:0 3px 0 0;padding:2px 6px;}
div.megas512 span.disabled 	{color:#adaaad;margin:0 3px 0 0;padding:2px 6px;}

/*  technorati */
div.technorati a 			{border:1px solid #ccc;padding:2px 6px;background-position:50% bottom;font-weight:bold;color:rgb(66,97,222);margin:0 3px 0 0;text-decoration:none}
div.technorati a:link 		{color:rgb(66,97,222);}
div.technorati a:visited 	{color:rgb(66,97,222);}
div.technorati a:hover 		{background-image:none;color:#fff;background:#4261df}
div.technorati a:active 	{background-image:none;color:#fff;background:#4261df}
div.technorati span.current {padding:2px 6px;font-weight:bold;color:#000;margin:0 3px 0 0;}
div.technorati span.disabled{display:none}

/* youtube */
div.youtube 				{padding:4px 6px 4px 0;border-top:#9c9a9c 1px dotted;font-size:13px;color:#313031;font-family:arial, helvetica, sans-serif;background:#cecfce;}
div.youtube a 				{padding:1px 3px;font-weight:bold;margin:0px 1px;color:#0030ce;text-decoration:underline}
div.youtube a:link 			{color:#0030ce;}
div.youtube a:visited 		{color:#0030ce;}
div.youtube a:hover 		{}
div.youtube a:active 		{}
div.youtube span.current 	{padding:1px 2px;color:#000;background:#fff}
div.youtube span.disabled 	{display:none}

/* manu */
div.manu a 					{border:1px solid #eee;padding:2px 5px;margin:2px;color:#036cb4;text-decoration:none}
div.manu a:link 			{color:#036cb4;}
div.manu a:visited 			{color:#036cb4;}
div.manu a:hover 			{border:1px solid #999;color:#666;}
div.manu a:active 			{border:1px solid #999;color:#666;}
div.manu .current 			{border:1px solid #036cb4;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background:#036cb4}
div.manu .disabled 			{border:1px solid #eee;padding:2px 5px;margin:2px;color:#ddd;}

/* green-black */
div.green-black a 			{border:1px solid #2c2c2c;padding:2px 5px;background:url("css/pager/image1.gif") #2c2c2c;color:#fff;margin:0 2px 0 0;text-decoration:none}
div.green-black a:link 		{color:#fff;}
div.green-black a:visited 	{color:#fff;}
div.green-black a:hover 	{border:1px solid #aad83e;background:url("css/pager/image2.gif") #aad83e;color:#fff;}
div.green-black a:active 	{border:1px solid #aad83e;background:url("css/pager/image2.gif") #aad83e;color:#fff;}
div.green-black span.current{border:1px solid #aad83e;padding:2px 5px;font-weight:bold;background:url("css/pager/image2.gif") #aad83e;color:#fff;margin:0 2px 0 0;}
div.green-black span.disabled{border:1px solid #f3f3f3;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

/* yahoo2 */
div.yahoo2 					{padding:3px;font-size:0.85em;margin:3px;font-family:tahoma,helvetica,sans-serif;}
div.yahoo2 a 				{border:1px solid #ccdbe4;padding:2px 8px;background-position:50% bottom;color:#0061de;margin:0 3px 0 0;text-decoration:none}
div.yahoo2 a:link 			{color:#0061de;}
div.yahoo2 a:visited 		{color:#0061de;}
div.yahoo2 a:hover 			{border:1px solid #2b55af;background-image:none;color:#fff;background:#3666d4}
div.yahoo2 a:active 		{border:1px solid #2b55af;background-image:none;color:#fff;background:#3666d4}
div.yahoo2 span.current 	{padding:2px 6px;font-weight:bold;color:#000;margin:0 3px 0 0;}
div.yahoo2 span.disabled 	{display:none}
div.yahoo2 a.next 			{border:2px solid #ccdbe4;margin:0px 0px 0px 10px;}
div.yahoo2 a.next:hover 	{border:2px solid #2b55af;}
div.yahoo2 a.prev 			{border:2px solid #ccdbe4;margin:0px 10px 0px 0px;}
div.yahoo2 a.prev:hover 	{border:2px solid #2b55af;}