/*-------------------------------------------------------	
	*Description: 	重置样式(默认)		
	*Author 	:	金鑫	
	*Version	:	1.0.1   (2009年4月16日)	
---------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,
	h1,h2,h3,h4,h5,h6,
		pre,form,fieldset,
			input,textarea
				,p,th,td		{padding:0;margin:0;}
html							{background:#fff;}
ol,ul 							{list-style: none;}
body,td							{font:12px Verdana;}
input 							{font:15px Verdana;}
caption							{text-align: center;} 
img 							{border:0;}
/*fieldset 						{border:0;}*/
h1,h2,h3,h4,h5,h6 				{font-weight:normal;font-size:100%;}
address,caption,cite,
	code,dfn,em,strong,th,var 	{font-weight:normal;font-style: normal;}	
/*-----------------------------------------------------
	*Description: 	飞龙基本样式		
	*Author 	:	金鑫	
	*Version	:	1.0.1   (2008年9月16日)	
	*Version	:	1.1.0   (2009年12月8日 11:16:52)	
-------------------------------------------------------*/
a					{text-decoration: none;}
p					{text-indent:25px;margin-top:3px}
img 				{vertical-align: middle}
select				{font:15px Verdana}

strong 				{color:#1C6E02;font-weight:500;}

legend 				{color: blue;}

/**********************列表相关**********************/
ul,ol 				{padding: 4px 6px 2px 16px;}
	li				{margin:0 0 3px 0}	
	dt				{margin:0 0 5px 0;padding:0 0 0 6px;height: 25px; line-height: 25px;font-size: 12px;background:url("image/warn.gif") 0 0 no-repeat;  }
	dd				{margin:0 0 3px 36px; color:#555}
	
/**********************表格相关**********************/
table 				{margin: 10px 3px;width: 99%; }

table,td,th		    {border-width:1px;border-style: solid ;border-collapse:collapse;border-color:#EFF7FF}

th 					{padding:4px;font:14px Verdana;text-align:center;}
td 					{padding:0px;text-align:left;height:28px;}		

textarea 			{width: 200px;height: 80px}

