<div class="div_feilongPager ${pagerVMParam.skin}" style="text-align:left">
	<span class="span_pagerInfo">总数${pagerVMParam.totalCount}</span>
	<span class="span_pagerInfo" title="当前第${pagerVMParam.currentPageNo}页/共${pagerVMParam.allPageNo}页">${pagerVMParam.currentPageNo}/${pagerVMParam.allPageNo}</span>
##第一页不显示首页和上一页
#if(1 != ${pagerVMParam.currentPageNo})
	<a title="跳转到上一页" href="${pagerVMParam.preUrl}">< Prev</a>
    ##// 如果导航编号里面没有首页 则添加首页
	##// 导航里面 是否有第一页, 如果从开始1索引 则已经包含的首页包含
	
	#if (${pagerVMParam.startIteratorIndex} != 1)
		<a title="跳转到第一页" href="${pagerVMParam.firstUrl}">1</a>
	#end
#end

##显示3点
#if (${pagerVMParam.startIteratorIndex} != 1 && ${pagerVMParam.startIteratorIndex} != 2)
	<span class="color_666">...</span>
#end

##循环所有的页码 显示导航编号
#foreach( ${entry} in ${pagerVMParam.iteratorIndexMap.entrySet()} )
	##当前 直接是数字编号
    #if(${entry.key}==${pagerVMParam.currentPageNo})
		<span class="current">${entry.key}</span>
    #else
		##不是当前页面
<a title="跳转到第${entry.key}页" href="${entry.value}">${entry.key}</a>
    #end
#end

#set($allPageNoTo1=${pagerVMParam.allPageNo} - 1)
##$endIteratorIndex != $allPageNoTo1
##$endIteratorIndex != $allPageNo
## 显示3点
#if (${pagerVMParam.endIteratorIndex} != ${pagerVMParam.allPageNo} && ${pagerVMParam.endIteratorIndex} != $allPageNoTo1)
	<span class="color_666">...</span>
#end

##最后一页不显示下一页和末页
#if(${pagerVMParam.allPageNo}!=${pagerVMParam.currentPageNo})
	## 如果导航编号里面没有尾页 则添加尾页
	##导航里面是否有最后一页, 如果结束的位置是allPageNo 则已经包含的尾页
	#if(${pagerVMParam.endIteratorIndex} != ${pagerVMParam.allPageNo})
<a title="跳转到最后一页" href="${pagerVMParam.lastUrl}">$!{pagerVMParam.allPageNo}</a>
	#end

	<a title="跳转到下一页" href="${pagerVMParam.nextUrl}">Next ></a>
#end
</div>