<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:loxia="http://loxia.benjamin.cn/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		">
	<util:properties id="p_dataSourceStore" location="classpath:config/dataSource-store.properties"></util:properties>

	<!-- parentSource -->
	<bean id="storeParentSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" abstract="true"
		p:driverClass="#{p_dataSourceStore['dataSource.driverClassName']}">
		<property name="user" value="#{p_dataSourceStore['dataSource.username']}"></property>
		<property name="password">
			<value><![CDATA[#{p_dataSourceStore['dataSource.password']}]]></value>
		</property>
		<property name="minPoolSize" value="#{p_dataSourceStore['dataSource.minPoolSize']}" />
		<property name="maxPoolSize" value="#{p_dataSourceStore['dataSource.maxPoolSize']}" />
		<property name="initialPoolSize" value="#{p_dataSourceStore['dataSource.initialPoolSize']}" />

		<property name="maxIdleTime" value="#{p_dataSourceStore['dataSource.maxIdleTime']}" />

		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name="acquireIncrement" value="#{p_dataSourceStore['dataSource.acquireIncrement']}" />
		<property name="idleConnectionTestPeriod" value="#{p_dataSourceStore['dataSource.idleConnectionTestPeriod']}" />
		<property name="preferredTestQuery">
			<value><![CDATA[#{p_dataSourceStore['dataSource.preferredTestQuery']}]]></value>
		</property>
	</bean>

	<!-- 写节点 -->
	<bean id="storeWriteSource" parent="storeParentSource">
		<property name="jdbcUrl">
			<value><![CDATA[#{p_dataSourceStore['dataSource.url.write']}]]></value>
		</property>
	</bean>

	<!-- 读节点 -->
	<bean id="storeReadSource" parent="storeParentSource">
		<property name="jdbcUrl">
			<value><![CDATA[#{p_dataSourceStore['dataSource.url.read']}]]></value>
		</property>
	</bean>

</beans>