<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:loxia="http://loxia.benjamin.cn/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		">

	<util:properties id="p_dataSource" location="classpath:config/dataSource-o2o.properties"></util:properties>

	<!-- parentSource -->
	<bean id="parentSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" abstract="true" p:driverClass="#{p_dataSource['dataSource.driverClassName']}">
		<property name="user" value="#{p_dataSource['dataSource.username']}"></property>
		<property name="password">
			<value><![CDATA[#{p_dataSource['dataSource.password']}]]></value>
		</property>
		<property name="minPoolSize" value="#{p_dataSource['dataSource.minPoolSize']}" />
		<property name="maxPoolSize" value="#{p_dataSource['dataSource.maxPoolSize']}" />
		<property name="initialPoolSize" value="#{p_dataSource['dataSource.initialPoolSize']}" />

		<property name="maxIdleTime" value="#{p_dataSource['dataSource.maxIdleTime']}" />

		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name="acquireIncrement" value="#{p_dataSource['dataSource.acquireIncrement']}" />
		<property name="idleConnectionTestPeriod" value="#{p_dataSource['dataSource.idleConnectionTestPeriod']}" />
		<property name="preferredTestQuery">
			<value><![CDATA[#{p_dataSource['dataSource.preferredTestQuery']}]]></value>
		</property>
	</bean>

	<!-- 写节点 -->
	<bean id="writeSource" parent="parentSource">
		<property name="jdbcUrl">
			<value><![CDATA[#{p_dataSource['dataSource.url.write']}]]></value>
		</property>
	</bean>

	<!-- 读节点 -->
	<bean id="readSource" parent="parentSource">
		<property name="jdbcUrl">
			<value><![CDATA[#{p_dataSource['dataSource.url.read']}]]></value>
		</property>
	</bean>

</beans>