<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:loxia="http://loxia.benjamin.cn/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		">

	<!-- o2o db -->
	<import resource="classpath:spring/spring-dao-o2o.xml" />

	<!-- store db -->
	<import resource="classpath:spring/spring-dao-store.xml" />

	<bean class="com.feilong.spring.jdbc.datasource.MultipleGroupReadWriteDataSourceAspect" />

	<bean id="dataSource" class="com.feilong.spring.jdbc.datasource.MultipleGroupReadWriteDataSource">
		<property name="readWriteDataSourceCommandMap">
			<map>
				<entry key="default">
					<bean class="com.feilong.spring.jdbc.datasource.ReadWriteDataSourceCommand">
						<property name="readDataSource" ref="readSource"></property>
						<property name="writeDataSource" ref="writeSource"></property>
					</bean>
				</entry>
				<entry key="storeSource">
					<bean class="com.feilong.spring.jdbc.datasource.ReadWriteDataSourceCommand">
						<property name="readDataSource" ref="storeWriteSource"></property>
						<property name="writeDataSource" ref="storeReadSource"></property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
</beans>