.rollBox,.rollBox .Cont,.rollBox .LeftBotton,.rollBox .RightBotton {
	overflow: hidden;
}

.rollBox {
	clear: both;
	width: 704px;
	padding: 12px 0 5px 6px;
}

.rollBox .LeftBotton,.rollBox .RightBotton {
	float: left;
	display: inline;
	height: 52px;
	width: 20px;
	margin: 25px 0 0 0;
	cursor: pointer;
}

.rollBox .LeftBotton {
	background: url(../images/btn/icon_prev.gif) no-repeat;
}

.rollBox .RightBotton {
	background: url(../images/btn/icon_next.gif) no-repeat;
}

.rollBox .Cont {
	float: left;
	width: 530px;
}

.rollBox .ScrCont {
	width: 10000000px;
}

.rollBox .Cont .pic {
	float: left;
	width: 132px;
	text-align: center;
}

.rollBox .Cont .pic img {
	display: block;
	padding: 4px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ccc;
}

.rollBox .Cont .pic p {
	color: #505050;
	line-height: 26px;
}

.rollBox .Cont a:link,.rollBox .Cont a:visited {
	color: #626466;
	text-decoration: none;
}

.rollBox .Cont a:hover {
	color: #f00;
	text-decoration: underline;
}

.rollBox .List1,.rollBox .List2 {
	float: left;
}
/*
.rollBox .List1 {
	float: left;
	border: 1px solid #000
}

.rollBox .List2 {
	float: left;
	border: 1px solid red
}*/