/*-------- 我的尊宝---------*/
.pleft .memberleft {
	margin: 0px;
	width: 176px;
	height: auto;
	border: 1px solid #ddd;
}

.pleft .memberleft .mleftbox {
	width: 160px;
	height: auto;
	padding: 10px;
}

.pleft dl.tbox {
	width: 156px;
	height: auto;
	margin: 0px;
	border-bottom: 1px solid #ddd;
}

.pleft .tbox dt {
	width: 160px;
	margin-top: 10px;
	padding-left: 10px;
	float: left;
}

.pleft .tbox dt strong {
	float: left;
	font-size: 14px;
	color: #000000;
}

.pleft .tbox dt span {
	width: 16px;
	height: 16px;
	float: left;
	background: url(../images/category/pagerightdd.gif) no-repeat;
}

.pleft .tbox dd {
	border: none;
	width: 90%;
	height: auto;
	padding: 10px;
	font-size: 12px;
	color: #ddd;
}

.pleft .tbox dd li {
	list-style-type: none;
	line-height: 20px;
	color: #ddd;
}

.pleft .tbox dd li a {
	text-decoration: none;
	color: #666;
}

.pleft .tbox dd li a:hover   , .memberleft li a:active {
	color: red
}

.pright .welcome {
	width: 90%;
	font-size: 18px;
	font-weight: 200;
	color: #000;
	padding: 20px;
}

.pright .welcome span {
	color: #c00005;
}

.pright .mctwarning {
	width: 90%;
	font-size: 14px;
	padding: 20px;
}

.pright .mctwarning {
	font-size: 14px;
	padding: 20px;
}

.pright .mctwarning li {
	line-height: 25px;
}

.pright .mctwarning li span {
	color: #c00005;
}

.pright .crtrecommend {
	padding: 30px 0px 10px 0px;
	width: 100%;
}

.pright .crtrecommend dt {
	border-top: 2px solid #ddd;
	height: 35px;
}

.pright .crtrecommend dt strong {
	font-size: 14px;
	padding: 5px;
	border: 1px solid #ddd;
	position: relative;
	left: 300px;
	bottom: 3px;
	background: #FFF;
}

.pright .crtrecommend dd {
	padding: 10px 0px 20px 10px;
	overflow: hidden;
}

.pright .crtrecommend .hot_box {
	height: 180px;
}

.pright .crtrecommend thead th {
	border: 1px solid #ddd;
	line-height: 25px;
}

.pright .crtrecommend tr td {
	border: 1px solid #ddd;
	line-height: 20px;
}

.rollBox {
	width: 720px;
	overflow: hidden;
	padding: 12px 0 5px 6px;
}

.rollBox .LeftBotton {
	height: 52px;
	width: 30px;
	background: url(../images/btn/icon_prev.gif) no-repeat;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 80px 0 0 0;
	cursor: pointer;
}

.rollBox .RightBotton {
	height: 52px;
	width: 30px;
	background: url(../images/btn/icon_next.gif) no-repeat;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 80px 0 0 0;
	cursor: pointer;
}

.rollBox .Cont {
	width: 650px;
	overflow: hidden;
	float: left;
}

.rollBox .ScrCont {
	width: 10000000px;
}

.rollBox .Cont .pic {
	width: 142px;
	padding: 5px;
	float: left;
	text-align: center;
}

.rollBox .Cont .pic img {
	width: 120px;
	height: 140px;
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}

.rollBox .Cont .pic p {
	line-height: 26px;
	color: #505050;
}

.rollBox .Cont a:link,.rollBox .Cont a:visited {
	color: #626466;
	text-decoration: none;
}

.rollBox .Cont a:hover {
	color: #f00;
	text-decoration: underline;
}

.rollBox #List1,.rollBox #List2 {
	float: left;
}

/*-------- 修改信息---------*/
#detail_tabs {
	width: 100%;
	font-size: 14px;
	height: 30px;
	border-bottom: 1px solid #ddd;
}

#detail_tabs ul {
	color: #000;
}

#detail_tabs li {
	float: left;
	padding: 5px 20px 5px 50px;
	background: url(../images/category/pagerightdd.gif) no-repeat right;
}

#detail_tabs li a {
	color: #000;
}

.pright form {
	height: auto;
	padding-left: 10px;
}

.pright form .content {
	height: auto;
	float: left;
}

.pright form .rightinfo {
	
}

.pright form tr {
	line-height: 40px;
	color: #333;
}

.pright .content {
	height: auto;
}

#content {
	height: auto;
}

#center_box {
	height: auto;
}

#center_box form {
	height: auto;
}

/*-------- 收货地址---------*/
#idAddress {
	height: auto;
}

#addressinfo {
	width: 42%;
	padding: 20px;
	height: auto;
	float: left;
}

#idAddress ul li {
	line-height: 20px;
}

/*-------- 我的礼券---------*/
#idPromotion {
	width: auto;
	height: auto;
}

#promotioninfo {
	padding: 2px;
	margin: 10px 5px 0px 10px;
	float: left;
	width: 352px;
	height: 143px;
	border: 0px solid #ffab5e;
}

#promotioninfo .skuname {
	display: block;
	padding: 7px 0 5px 10px;
	/*color:#ffffff;*/ /*background:#ffd558;*/
}

#promotioninfo .img {
	float: left;
	width: 100px;
	/*height:100px;*/
	vertical-align: top;
	margin: 4px 0 0 3px;
	padding: 0px;
	/*border:1px solid #fba610;*/
}

#promotioninfo .img img {
	width: 100px;
	height: 100px;
}

#promotioninfo .number {
	float: left;
	display: block;
	width: 100px;
	margin: 20px 5px 10px 5px;
}

#promotioninfo .number .font2 {
	font-size: 250%;
	/*color:yellow;*/
}

#promotioninfo .number .font5 { /*color:yellow;*/
	
}

#promotioninfo ul {
	float: left;
	padding: 0px 10px 0 5px;
	/*color:#993300;*/
	MARGIN: 10px auto;
	LIST-STYLE-TYPE: none;
}

#promotioninfo ul li {
	line-height: 20px;
}

/*-------- 社交圈---------*/
#snsquan {
	padding: 5px 0px 5px 0px;
	width: auto
}

#snsquan ul {
	
}

#snsquan li {
	margin: 0px;
	line-height: 20px;
	padding: 2px 10px 2px 14px;
	background: none;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.pright table th {
	line-height: 40px;
	border-bottom: 1px dashed #ddd;
}

.pright table td {
	line-height: 40px;
	border-bottom: 1px dashed #ddd;
}

#block {
	width: auto;
	height: auto;
}

#baseInfo {
	width: auto;
	height: auto;
}

#baseInfo td {
	text-align: left;
	width: auto;
	height: auto;
}

/*-------- 我浏览过的商品---------*/
#ItemTable .itemtableview .box {
	width: 160px;
	height: 220px;
	margin: 5px;
	overflow: hidden;
	float: left;
}

/*-------- 我的评论---------*/
#mycommentlist {
	height: auto;
	overflow: auto;
	width: auto;
}

#mycommentlist .box {
	height: auto;
	overflow: auto;
	width: 100%;
}

#mycommentlist .box .mycommentimg {
	padding-top: 5px;
	width: 112px;
	height: 130px;
	float: left;
	overflow: auto;
}

#mycommentlist .box .mycommentimg img {
	overflow: auto;
	border: 1px solid #ddd;
	padding: 5px;
	width: 100px;
	height: 100px;
}

#mycommentlist .box dl {
	float: left;
	width: 80%;
	height: auto;
	padding: 10px;
	overflow: auto;
}

#mycommentlist .box dt {
	padding: 2px 2px 2px 2px;
	float: left;
	width: 98%;
	height: 30px;
	border-bottom: 1px dashed #ddd;
}

#mycommentlist strong {
	float: left;
}

#mycommentlist span {
	float: right;
}

#mycommentlist .box dd {
	overflow: auto;
	width: 90%;
	padding: 20px;
	height: auto;
	border-bottom: 1px solid #ddd;
}

#mycommentlist .box dd .jum_reply {
	float: left;
	color: #F00;
}

#mycommentlist .box dd span {
	float: left;
}

#mycommentlist dd li {
	line-height: 25px;
	list-style-type: none;
	color: #333;
}

#resultpage {
	
}

#resultpage a {
	padding: 2px 5px 2px 5px;
}

/*-------- 字体样式---------*/
.font2 {
	padding-right: 20px;
	background: #FFFFFF;
	float: left;
}

.font-b {
	border: 1px solid #F00;
	background: #F00;
	color: #FFFFFF;
	float: left;
}

.font7 {
	border: 1px solid #ddd;
	background: #FFFFFF;
	color: #F00;
	float: left;
}

/*-------- 链接样式---------*/
.li {
	color: #666;
	list-style-type: none;
	text-decoration: none;
}

.li a {
	text-decoration: none;
	color: #666;
}

.li a:hover   , .memberleft li a:active {
	color: red
}

.u1 {
	color: #000;
	list-style-type: none;
}

.u1 a {
	color: #000;
	text-decoration: none;
}

.u1 a:hover   , .memberleft li a:active {
	color: red
}