<?xml version="1.0" encoding="UTF-8"?>

<!-- scan 当此属性设置为true时，配置文件如果发生改变，将会被重新加载， 默认值为true。 -->
<!-- scanPeriod 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。 当scan为true时，此属性生效。 默认的时间间隔为1分钟。 -->
<!-- debug 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。 默认值为false。 -->
<configuration scan="true" scanPeriod="60" debug="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">
	<substitutionProperty name="log.base" value="c:/" />
	<contextName>${tomcatName}${catalina.home}</contextName>

	<appender name="CONSOLE" class="com.feilong.log.logback.AnsiConsoleAppender">

		<!--
			On Windows machines setting withJansi to true enables ANSI color code interpretation by the Jansi library.
			This requires org.fusesource.jansi:jansi:1.8 on the class path.
			Note that Unix-based operating systems such as Linux and Mac OS X support ANSI color codes by default.
		-->
		<withJansi>true</withJansi>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>

		<!-- 注意 logback 的括号需要转义 -->
		<encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} %highlight(%-5level) \(%F:%L\) %method\(\) - %m%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="DEBUG" />
	<logger name="org.apache" level="DEBUG" />

	<!-- ****************************common***************************************** -->
	<logger name="httpclient.wire" level="warn" />
	<logger name="org.apache.commons.digester.Digester" level="warn" />
	<logger name="org.apache.commons.beanutils.ConvertUtilsBean" level="warn" />
	<logger name="org.apache.commons.beanutils.converters" level="warn" />
	<logger name="org.apache.commons.beanutils.converters.AbstractConverter" level="warn" />

	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
