/*------------------------------------------------------------------	
	*Description: 	自定义样式(默认)	
	
	*Author 	:	金鑫
	
	*Version	:	1.0.1   (2009年4月16日)	
------------------------------------------------------------------------*/
/*body				{cursor:url(cursor/1.cur);}*/
/*a,button			{cursor:url(cursor/a1.cur);}*/

#container			{background: transparent;}

#nav				{border:1px solid #BBE1F1;}
hr					{border: 1px dotted #BBE1F1;}

a:link 				{color: #2E723C;}
a:visited 			{color: #2E723C;}
a:hover 			{color: #555;}
a:active 			{color: #000;}

table .td_title		{/*background: #FAFCFD;*/}
table,td,th			{border-color:#BBE1F1 }

/*94aad6*/
.div 				{border: 1px solid #BBE1F1;}
	.div .title 	{background:#EEFAFF;border-bottom: 1px solid #BBE1F1;}
	.div .content 	{background: #fff;}
	.div .operation {border-top: 1px dashed #BBE1F1;}
	
button 				{background: #EEFAFF;border: 1px solid #BBE1F1;}