/*------------------------------------------------------------------	
	*Description: 	自定义样式(默认)	
	
	*Author 	:	金鑫
	
	*Version	:	1.0.1   (2009年4月16日)	
------------------------------------------------------------------------*/
body				{cursor:url(cursor/2.cur);}
a,button			{cursor:url(cursor/a2.cur);}

a:link 				{color: #006DA3;}
a:visited 			{color: #006DA3;}
a:hover 			{color: #006DA3;}
a:active 			{color: #006DA3;}

table .td_title		{background: #FAFCFD;}

table,td,th			{border-color:#F8B3D0 }

.div 				{border: 1px solid #F8B3D0;}
	.div .title 	{background:#FFF5FA;border-bottom: 1px solid #F8B3D0;}
	.div .content 	{background: #fff;}
	.div .operation {border-top: 1px dotted #F8B3D0;}
	
button 		{		
	background: #FFF5FA;
	border: 1px solid #F8B3D0;
}