<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Feilong Web Test,test css、js、customer tags、and so on</display-name>
	<description>飞龙web相关静态资源测试</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring.xml
		</param-value>
	</context-param>
	<!--********************************** servlet ********************************** -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
<!-- 	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	<!-- <filter> <filter-name>characterEncodingFilter</filter-name> <filter-class>com.feilong.servlet.filter.CharacterEncodingFilter</filter-class> <init-param> <param-name>encoding</param-name> 
		<param-value>GBK</param-value> </init-param> </filter> <filter-mapping> <filter-name>characterEncodingFilter</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> -->

	
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.feilong.servlet.listener.ApplicationContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.feilong.servlet.listener.ESAPIContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 验证码 -->
	<servlet>
		<servlet-name>feilongCaptcha</servlet-name>
		<servlet-class>com.feilong.servlet.servlet.CaptchaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>feilongCaptcha</servlet-name>
		<url-pattern>/servlet/captcha</url-pattern>
	</servlet-mapping>

	<!-- <servlet>
		<servlet-name>StickyCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>
		<init-param>
			<param-name>width</param-name>
			<param-value>250</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>75</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>StickyCaptcha</servlet-name>
		<url-pattern>/stickyImg</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
		<init-param>
			<param-name>captcha-height</param-name>
			<param-value>450</param-value>
		</init-param>
		<init-param>
			<param-name>captcha-width</param-name>
			<param-value>75</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/simpleCaptcha</url-pattern>
	</servlet-mapping> -->
	
<servlet>
	<servlet-name>Kaptcha</servlet-name>
	<servlet-class>
		com.google.code.kaptcha.servlet.KaptchaServlet
	</servlet-class>
	<init-param>
		<description>
			Border around kaptcha. Legal values are yes or no.
		</description>
		<param-name>kaptcha.border</param-name>
		<param-value>no</param-value>
	</init-param>
	<init-param>
		<param-name>kaptcha.textproducer.font.size</param-name>
		<param-value>18</param-value>
	</init-param>
	<init-param>
		<param-name>kaptcha.textproducer.char.string</param-name>
		<param-value>235678</param-value>
<!-- 		<param-value>abcdefnmnwx235678ABCDEFGHKQRSTX</param-value> -->
	</init-param>
	<init-param>
		<description>
			Ending background color. Legal values are r,g,b.
		</description>
		<param-name>kaptcha.background.clear.from</param-name>
		<param-value>132,132,132</param-value>
	</init-param>
	<init-param>
		<description>
			Ending background color. Legal values are r,g,b.
		</description>
		<param-name>kaptcha.background.clear.to</param-name>
		<param-value>132,132,132</param-value>
	</init-param>
	<init-param>
		<description>
			Width in pixels of the kaptcha image.
		</description>
		<param-name>kaptcha.image.width</param-name>
		<param-value>80</param-value>
	</init-param>
	<init-param>
		<description>
			Height in pixels of the kaptcha image.
		</description>
		<param-name>kaptcha.image.height</param-name>
		<param-value>25</param-value>
	</init-param>
	<init-param>
		<description>
			The color to use for the font. Legal values are r,g,b.
		</description>
		<param-name>kaptcha.textproducer.font.color</param-name>
		<param-value>255,255,255</param-value>
	</init-param>
	<!-- 设置字体个数 -->
	<init-param>
		<param-name>kaptcha.textproducer.char.length</param-name>
		<param-value>4</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>Kaptcha</servlet-name>
	<url-pattern>/kaptcha</url-pattern>
</servlet-mapping>

	 

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
		<filter>
		<filter-name>commonsRequestLoggingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CommonsRequestLoggingFilter</filter-class>
		<init-param>
			<param-name>includeQueryString</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>includeClientInfo</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>includePayload</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>commonsRequestLoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<jsp-config>

	<jsp-property-group>
		<url-pattern>*.jsp</url-pattern>
		<trim-directive-whitespaces>true</trim-directive-whitespaces>
		
		<!-- <el-ignored>false</el-ignored>--> 
		<page-encoding>UTF-8</page-encoding>
		
	</jsp-property-group>
</jsp-config>
	
	
	<!--默认页面 -->
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

</web-app>