<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		">
	<!--<beans default-autowire="no" default-dependency-check="simple" default-lazy-init="true"> -->

	<description>^_^,测试</description>

	<!-- <util:properties id="testProperties" location="classpath:test.properties" /> -->
	<!-- <context:property-placeholder location="classpath*:*.properties" /> -->

	<!-- <bean id="userTest" class="com.feilong.SpringDITest" /> --><!--singleton="true" dependency-check="default" -->

	<bean name="useraaa,feitian@" class="com.feilong.entity.DIUser" abstract="false" lazy-init="default" autowire="byType" init-method="init" destroy-method="destroy">

		<description>我的user</description>
		<property name="userName">
			<value type="">金鑫</value>
		</property>

		<property name="list">
			<description>五虎上将</description>
			<list>
				<value>张飞</value>
				<value>关羽</value>
				<value>赵云</value>
				<value>马超</value>
				<value>黄忠</value>
			</list>
		</property>


		<property name="map">
			<description>五子良将</description>
			<map>
				<entry key="五子良将">
					<list>
						<value>张辽</value>
						<value>乐进</value>
						<value>张郃</value>
						<value>于禁</value>
						<value>徐晃</value>
					</list>
				</entry>

				<entry key="八虎骑">
					<list>
						<value>曹仁</value>
						<value>曹洪</value>
						<value>曹纯</value>
						<value>夏侯惇</value>
						<value>夏侯渊</value>
						<value>曹真</value>
						<value>曹休</value>
						<value>夏侯尚</value>
					</list>
				</entry>
			</map>
		</property>

		<property name="properties">
			<props>
				<prop key="蜀"><![CDATA[刘备]]></prop>
				<prop key="魏"><![CDATA[曹操]]></prop>
				<prop key="吴"><![CDATA[孙权]]></prop>
			</props>
		</property>

		<property name="set">
			<set>
				<value>a</value>
				<value>a</value>
			</set>
		</property>

		<property name="array">
			<array>
				<value>a1</value>
				<value>a2</value>
			</array>
		</property>
	</bean>

	<!--
		<alias name="" alias="" />
	-->
</beans>
