<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!--<bean id="uriTemplateConstants" class="com.jumbo.shop.web.controller.UriTemplateConstants" /> -->
	<mvc:annotation-driven />

	<mvc:interceptors>
		<!--*************openSessionInViewInterceptor ************* -->
		<!-- <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor"> <property name="sessionFactory" ref="sessionFactory" 
			/> </bean> -->
		<!--******* localeChangeInterceptor******** -->
		<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="siteLanguage" />
		</bean>

		<!-- browserInterceptor -->
		<mvc:interceptor>
			<mvc:mapping path="/" />
			<mvc:mapping path="/**/*" />
			<bean id="browserInterceptor" class="com.feilong.spring.web.interceptor.BrowserInterceptor">
				<property name="attributeName" value="feilongBrowser1"/>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>