<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd	
		">
	<bean id="solrcloud_server" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
		<constructor-arg index="0">
			<value>${zkhost}</value>
		</constructor-arg>
		<property name="defaultCollection" value="${solrcloud.defaultCollection}" />
		<property name="zkClientTimeout" value="20000" />
		<property name="zkConnectTimeout" value="50000" />
	</bean>

	<bean id="itemSolrServiceImpl" class="com.baozun.mp2.service.impl.ItemSolrServiceImpl">
		<property name="cloudSolrServer" ref="solrcloud_server" />
	</bean>
</beans>