<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		">
	<description>^_^,数组测试</description>

	<bean id="diUserArray" class="com.feilong.entity.DIUserArray" abstract="false" lazy-init="default" autowire="byType" init-method="init" destroy-method="destroy">

		<description>我的user</description>

		<property name="skills">
			<array>
				<value>商才</value>
				<value>耕作</value>
				<value>名士</value>
			</array>
		</property>

		<property name="secretStrategys" value="求贤之策,封印防策 毒泉防策" />
	</bean>
</beans>