<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		">
	<description>^_^,测试</description>

	<bean name="useraaa,feitian@" class="com.feilong.entity.DIUser" abstract="false" lazy-init="default" autowire="byType" init-method="init" destroy-method="destroy">
		<property name="map">
			<description>五子良将</description>
			<map>
				<entry key="五子良将">
					<bean class="com.feilong.commons.core.entity.BackWarnEntity">
						<property name="isSuccess" value="false"></property>
						<property name="description" value="哈哈哈"></property>
					</bean>
				</entry>
				<entry key="八虎骑">
					<bean class="com.feilong.commons.core.entity.BackWarnEntity">
						<property name="isSuccess" value="true"></property>
						<property name="description" value="呵呵呵"></property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
</beans>
