<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<util:properties id="p_dokuPayment" location="classpath:config/payment/payment-doku.properties"></util:properties>

	<!-- base DOKU -->
	<bean id="baseDoKuPayAdaptor" class="com.feilong.netpay.adaptor.doku.AbstractDokuPayAdaptor" abstract="true">
		<property name="gateway" value="#{p_dokuPayment['gateway']}" />
		<property name="method" value="#{p_dokuPayment['method']}" />

		<property name="MALLID" value="#{p_dokuPayment['MALLID']}" />
		<property name="Shared_key" value="#{p_dokuPayment['Shared_key']}" />

		<property name="CHAINMERCHANT" value="#{p_dokuPayment['CHAINMERCHANT']}" />
		<property name="CURRENCY" value="#{p_dokuPayment['CURRENCY']}" />

		<property name="shippingItemName" value="#{p_dokuPayment['shippingItemName']}" />
		<property name="pricePattern" value="#{p_dokuPayment['pricePattern']}" />
		<property name="charsetNameForSHA1" value="#{p_dokuPayment['charsetNameForSHA1']}" />
		<property name="redirectSuccessStatusCode" value="#{p_dokuPayment['redirect.status.success.common']}" />
		<property name="notifySuccessResponseCode" value="#{p_dokuPayment['notifySuccessResponseCode']}" />

		<property name="minPriceForPay" value="#{p_dokuPayment['minPriceForPay']}" />
		<property name="maxPriceForPay" value="#{p_dokuPayment['maxPriceForPay']}" />
	</bean>

	<!-- mandiriClickPayAdaptor 支付 -->
	<bean id="mandiriClickPayAdaptor" parent="baseDoKuPayAdaptor" class="com.feilong.netpay.adaptor.doku.MandiriClickPayAdaptor">
		<property name="PAYMENTCHANNEL" value="#{p_dokuPayment['PAYMENTCHANNEL.mandiriClickPay']}" />
	</bean>

	<!-- BRIEPayAdaptor 支付 -->
	<bean id="briEPayAdaptor" parent="baseDoKuPayAdaptor" class="com.feilong.netpay.adaptor.doku.BRIEPayAdaptor">
		<property name="PAYMENTCHANNEL" value="#{p_dokuPayment['PAYMENTCHANNEL.BRIEPay']}" />
	</bean>

	<!-- PermataVALITEPayAdaptor 支付 -->
	<bean id="permataVALITEPayAdaptor" parent="baseDoKuPayAdaptor" class="com.feilong.netpay.adaptor.doku.PermataVALITEPayAdaptor">
		<property name="PAYMENTCHANNEL" value="#{p_dokuPayment['PAYMENTCHANNEL.permataVALITEPay']}" />
		<property name="atmRedirectSuccessStatusCode" value="#{p_dokuPayment['redirect.status.success.atm']}" />
		<property name="maxPriceForPay" value="#{p_dokuPayment['maxPriceForPay']}" />
	</bean>

	<!-- creditCardPayAdaptor 支付 -->
	<bean id="creditCardPayAdaptor" parent="baseDoKuPayAdaptor" class="com.feilong.netpay.adaptor.doku.CreditCardPayAdaptor">
		<property name="PAYMENTCHANNEL" value="#{p_dokuPayment['PAYMENTCHANNEL.creditCardPay']}" />
	</bean>
</beans>