<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<util:properties id="p_alipayPayment" location="classpath:config/payment/payment-alipay.properties"></util:properties>

	<!-- baseAlipayPayAdaptor -->
	<bean id="baseAlipayPayAdaptor" class="com.feilong.netpay.adaptor.alipay.AlipayPayAdaptor" abstract="true">
		<!-- 签名用的必须配置的参数 -->
		<property name="partner" value="#{p_alipayPayment['partner']}" />
		<property name="_input_charset" value="#{p_alipayPayment['_input_charset']}" />

		<!--**************************** 不属于签名用的属性 ***************************** -->
		<property name="key" value="#{p_alipayPayment['key']}" />
		<property name="gateway" value="#{p_alipayPayment['gateway']}" />

		<!-- 是否开通开通 防钓鱼认证 -->
		<property name="isOpenAntiPhishing" value="#{p_alipayPayment['partner.isOpenAntiPhishing']}" />

		<property name="service_notify_verify" value="#{p_alipayPayment['service.notify_verify']}" />
		<property name="service_close_trade" value="#{p_alipayPayment['service.close_trade']}" />
		<property name="service_query_timestamp" value="#{p_alipayPayment['service.query_timestamp']}" />
		
		<property name="minPriceForPay" value="#{p_alipayPayment['minPriceForPay']}" />
		<property name="maxPriceForPay" value="#{p_alipayPayment['maxPriceForPay']}" />
	</bean>

	<!-- alipay 支付 -->
	<bean id="alipayPayAdaptor" parent="baseAlipayPayAdaptor">
		<!-- 其他需要被签名的 属性 sign、sign_type 不要配置在里面 -->
		<property name="signMap">
			<map>
				<!-- #接口 名称 不可为空 -->
				<entry key="service" value="#{p_alipayPayment['service.create_direct_pay_by_user']}"></entry>
				<entry key="seller_email" value="#{p_alipayPayment['seller_email']}"></entry>
				<entry key="subject" value="#{p_alipayPayment['subject']}"></entry>
				<entry key="body" value="#{p_alipayPayment['body']}"></entry>
				<!-- 支付类型 取值范围请参见附录“11.5 收款 类型”。 -->
				<entry key="payment_type" value="#{p_alipayPayment['payment_type']}"></entry>
				<!-- 默认支付 方式 -->
				<entry key="paymethod" value="#{p_alipayPayment['paymethod.AlipayPay']}"></entry>

				<!-- 不支持这个参数 -->
				<!-- <entry key="default_login" value="#{p_alipayPayment['default_login']}"></entry> -->
			</map>
		</property>
	</bean>

	<!-- alipay 扫描支付 -->
	<bean id="alipayScanCodePayAdaptor" parent="baseAlipayPayAdaptor">
		<!-- 其他需要被签名的 属性 sign、sign_type 不要配置在里面 -->
		<property name="signMap">
			<map>
				<!-- #接口 名称 不可为空 -->
				<entry key="service" value="#{p_alipayPayment['service.create_direct_pay_by_user']}"></entry>
				<entry key="seller_email" value="#{p_alipayPayment['seller_email']}"></entry>
				<entry key="subject" value="#{p_alipayPayment['subject']}"></entry>
				<entry key="body" value="#{p_alipayPayment['body']}"></entry>
				<!-- 支付类型 取值范围请参见附录“11.5 收款 类型”。 -->
				<entry key="payment_type" value="#{p_alipayPayment['payment_type']}"></entry>
				<!-- 默认支付 方式 -->
				<entry key="paymethod" value="#{p_alipayPayment['paymethod.AlipayPay']}"></entry>

				<!-- 扫码支付方式 -->
				<entry key="qr_pay_mode" value="#{p_alipayPayment['qr_pay_mode']}"></entry>
			</map>
		</property>
	</bean>

	<!-- alipay 网银在线 -->
	<bean id="alipayNetPayAdaptor" class="com.feilong.netpay.adaptor.alipay.AlipayNetPayAdaptor" parent="baseAlipayPayAdaptor">
		<!-- 其他需要被签名的 属性 sign、sign_type 不要配置在里面 -->
		<property name="signMap">
			<map>
				<!-- #接口 名称 不可为空 -->
				<entry key="service" value="#{p_alipayPayment['service.create_direct_pay_by_user']}"></entry>
				<entry key="seller_email" value="#{p_alipayPayment['seller_email']}"></entry>
				<entry key="subject" value="#{p_alipayPayment['subject']}"></entry>
				<entry key="body" value="#{p_alipayPayment['body']}"></entry>
				<!-- 支付类型 取值范围请参见附录“11.5 收款 类型”。 -->
				<entry key="payment_type" value="#{p_alipayPayment['payment_type']}"></entry>
				<!-- 默认支付 方式 -->
				<entry key="paymethod" value="#{p_alipayPayment['paymethod.AlipayNetPay']}"></entry>
				<!-- 多的参数 -->
			</map>
		</property>
	</bean>

	<!-- alipay 信用卡支付 -->
	<bean id="alipayCreditCardPayAdaptor" class="com.feilong.netpay.adaptor.alipay.AlipayCreditCardPayAdaptor" parent="baseAlipayPayAdaptor">
		<!-- 其他需要被签名的 属性 sign、sign_type 不要配置在里面 -->
		<property name="signMap">
			<map>
				<!-- #接口 名称 不可为空 -->
				<entry key="service" value="#{p_alipayPayment['service.create_direct_pay_by_user']}"></entry>
				<entry key="seller_email" value="#{p_alipayPayment['seller_email']}"></entry>
				<entry key="subject" value="#{p_alipayPayment['subject']}"></entry>
				<entry key="body" value="#{p_alipayPayment['body']}"></entry>
				<!-- 支付类型 取值范围请参见附录“11.5 收款 类型”。 -->
				<entry key="payment_type" value="#{p_alipayPayment['payment_type']}"></entry>
				<!-- 默认支付 方式 -->
				<!-- <entry key="paymethod" value="#{p_alipayPayment['paymethod']}"></entry> -->

				<!-- 多的参数 -->
				<entry key="default_login" value="#{p_alipayPayment['AlipayCreditCardPay.default_login']}"></entry>
				<entry key="paymethod" value="#{p_alipayPayment['paymethod.AlipayCreditCardPay']}"></entry>
			</map>
		</property>
	</bean>

	<!-- alipay 国际信用卡支付 -->
	<bean id="alipayInternationalCreditCardPayAdaptor" class="com.feilong.netpay.adaptor.alipay.AlipayInternationalCardPayAdaptor" parent="baseAlipayPayAdaptor">
		<!-- 签名用的必须配置的参数 -->
		<property name="partner" value="#{p_alipayPayment['international_partner']}" />
		<property name="key" value="#{p_alipayPayment['international_key']}" />

		<!-- 其他需要被签名的 属性 sign、sign_type 不要配置在里面 -->
		<property name="signMap">
			<map>
				<!-- #接口 名称 不可为空 -->
				<entry key="service" value="#{p_alipayPayment['service.alipay.trade.direct.forcard.pay']}"></entry>
				<entry key="seller_email" value="#{p_alipayPayment['international_seller_email']}"></entry>
				<entry key="subject" value="#{p_alipayPayment['subject']}"></entry>
				<entry key="body" value="#{p_alipayPayment['body']}"></entry>
				<!-- 支付类型 取值范围请参见附录“11.5 收款 类型”。 -->
				<entry key="payment_type" value="#{p_alipayPayment['payment_type']}"></entry>

			</map>
		</property>
	</bean>
</beans>