<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<util:properties id="p_chinapnrPayment" location="classpath:config/payment/payment-chinapnr.properties"></util:properties>

	<!-- 汇付天下 -->
	<bean id="chinapnrPayAdaptor" class="com.feilong.netpay.adaptor.chinapnr.ChinapnrPayAdaptor">
		<!-- 汇付天下商户号 -->
		<property name="merId" value="#{p_chinapnrPayment['merId']}" />

		<!--**************************** 不属于签名用的属性 ***************************** -->
		<property name="merKeyFile" value="#{p_chinapnrPayment['merKeyFile']}" />
		<property name="pgKeyFile" value="#{p_chinapnrPayment['pgKeyFile']}" />

		<property name="gateway" value="#{p_chinapnrPayment['gateway']}" />


		<property name="minPriceForPay" value="#{p_chinapnrPayment['minPriceForPay']}" />
		<property name="maxPriceForPay" value="#{p_chinapnrPayment['maxPriceForPay']}" />
	</bean>
</beans>