#concat("js","20140514")
	trade/js/payment/memberAddress.js
	trade/js/payment/order.js
#end
#concat("js","20140514")
#end


#*
    #concat()
    trade/js/payment/order.js
    #end
*#



	##concatItem("trade/js/payment/memberAddress.js")
	##concatItem("trade/js/payment/order.js")