<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    #*
    	<url>
    		<loc>http://www.converse.com.cn/men.htm</loc>
    		<lastmod>2014-05-07</lastmod>
    		<changefreq>weekly</changefreq>
    		<priority>1.0</priority>
    	</url>
    *#
	#foreach($siteMapURL in $siteMapURLList)
		#if(${siteMapURL})
        	<url>
    			#if("$!{siteMapURL.formatLoc}"!="")
    				<loc>${siteMapURL.formatLoc}</loc>
    			#end
    			
    			#if("$!{siteMapURL.formatLastmod}"!="")
    				<lastmod>${siteMapURL.formatLastmod}</lastmod>
    			#end
    			
    			#if("$!{siteMapURL.changefreq}"!="")
    				<changefreq>${siteMapURL.changefreq}</changefreq>
    			#end
    			
    			#if("$!{siteMapURL.priority}"!="")
    				<priority>${siteMapURL.priority}</priority>
    			#end
        	</url>
		#end
	#end 
</urlset>
