<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<body>
		
		<div style="font:18px 'Segoe Print'">
			XiaoK monitor <span style="color:#5FA207">${DateUtil.date2String($stubStatusVMCommand.beginDate,"HH:mm:ss")}</span>-<span style="color:#5FA207">${DateUtil.date2String($stubStatusVMCommand.endDate,"HH:mm:ss")}</span> nginx status data
    	</div>
		<br/>
		
        <span style="font:18px 'Segoe Print'">Summary:</span>
		
<div style="padding-left:40px">
		maxActiveConnections: <span style="color:red">$stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.activeConnections</span>
<table align="center" cellpadding="6" cellspacing="0" style="border:1px solid #E3E197;background-color: #FFFFDD ;border-collapse:collapse;">
	<tr>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'"></td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">ActiveConnections</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Reading</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Writing</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Waiting</td>
    </tr>
	
	<tr>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">${DateUtil.date2String($stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.crawlDate,"HH:mm:ss")}</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.activeConnections</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.reading</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.writing</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.maxActiveConnectionsStubStatusCommand.waiting</td>
    </tr>
</table>

<br/>

		minActiveConnections: <span style="color:red">$stubStatusVMCommand.minActiveConnectionsStubStatusCommand.activeConnections</span>
<table align="center" cellpadding="6" cellspacing="0" style="border:1px solid #E3E197;background-color: #FFFFDD ;border-collapse:collapse;">
	<tr>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'"></td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">ActiveConnections</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Reading</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Writing</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Waiting</td>
    </tr>
	
	<tr>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">${DateUtil.date2String($stubStatusVMCommand.minActiveConnectionsStubStatusCommand.crawlDate,"HH:mm:ss")}</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.minActiveConnectionsStubStatusCommand.activeConnections</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.minActiveConnectionsStubStatusCommand.reading</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.minActiveConnectionsStubStatusCommand.writing</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusVMCommand.minActiveConnectionsStubStatusCommand.waiting</td>
    </tr>
</table>	

</div>

<br/><br/>
<div style="font:italic 14px 'Segoe Print'">
	Details of the information you can see in the table below or e-mail attachments: 
</div>
		
<table align="center" cellpadding="4" cellspacing="0" style="border:1px solid #E3E197;background-color: #FFFFDD ;border-collapse:collapse;">
	<tr>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'"></td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">ActiveConnections</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Reading</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Writing</td>
		<td style="border:1px solid #E3E197;background-color:#FFFFDD;text-align:center;font:16px 'Verdana'">Waiting</td>
    </tr>
	
#foreach($stubStatusCommand in ${stubStatusVMCommand.stubStatusCommandList})
	<tr>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">${DateUtil.date2String($stubStatusCommand.crawlDate,"HH:mm:ss")}</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusCommand.activeConnections</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusCommand.reading</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusCommand.writing</td>
		<td style="border:1px solid #E3E197;background-color: #FFFFDD;text-align:center">$stubStatusCommand.waiting</td>
    </tr>
#end
</table> 

<div style="margin-top:4px;font:18px 'Segoe Print'">
    You can confirm in 
    <a href="http://www.nikestore.com.cn/nginx_status">http://www.nikestore.com.cn/nginx_status</a>
</div>

	</body>
</html>