<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://loxia.benjamin.cn/schema/core http://loxia.benjamin.cn/schema/core/loxia-spring-ext.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd	
		">

	<util:properties id="p_ftp" location="classpath:config/fileTransfer-ftp.properties"></util:properties>
	<util:properties id="p_sftp" location="classpath:config/fileTransfer-sftp.properties"></util:properties>

	<util:properties id="p_sftp-sshConfig" location="classpath:config/fileTransfer-sftp-sshConfig.properties"></util:properties>

	<!-- ftp -->
	<bean id="nikeFTPUtil" class="com.feilong.tools.net.FTPUtil">
		<property name="hostName" value="#{p_ftp['nike.ftp.hostName']}" />
		<property name="userName" value="#{p_ftp['nike.ftp.userName']}" />
		<property name="password">
			<value><![CDATA[#{p_ftp['nike.ftp.password']}]]></value>
		</property>
		<property name="ftpClient">
			<!-- FTPClient -->
			<bean class="org.apache.commons.net.ftp.FTPClient">
				<property name="controlEncoding" value="#{p_ftp['nike.ftp.FTPClient.controlEncoding']}" />
				<property name="defaultPort" value="#{p_ftp['nike.ftp.FTPClient.defaultPort']}" />
				<property name="dataTimeout" value="#{p_ftp['nike.ftp.FTPClient.dataTimeout']}" />
			</bean>
		</property>
	</bean>

	<!-- sftp -->
	<bean id="nikeSFTPUtil" class="com.feilong.tools.net.SFTPUtil">
		<property name="hostName" value="#{p_sftp['nike.sftp.hostName']}" />
		<property name="userName" value="#{p_sftp['nike.sftp.userName']}" />
		<property name="password">
			<value><![CDATA[#{p_sftp['nike.sftp.password']}]]></value>
		</property>
		<property name="port" value="#{p_sftp['nike.sftp.port']}" />
		<property name="connectTimeout" value="#{p_sftp['nike.sftp.connectTimeout']}" />

		<property name="sshConfig" ref="p_sftp-sshConfig" />
	</bean>
</beans>