<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html;charset=utf-8" />
<title></title>

<script type="text/javascript" src="http://rs.feilong.com:8888/res\feilong\js\plugins\jquery\jquery-1.7.1.min.js"></script>

<link type="text/css" rel="stylesheet" href="http://rs.feilong.com:8888/res/feilong/js/plugins/jquery.flexigrid/css/flexigrid/flexigrid.css"></link>
<script type="text/javascript" src="http://rs.feilong.com:8888/res/feilong/js/plugins/jquery.flexigrid/flexigrid.js"></script>

<script type="text/javascript" src="http://rs.feilong.com:8888/res/feilong/js/plugins/amcharts/amcharts.js"></script>
<script type="text/javascript" src="http://rs.feilong.com:8888/res/feilong/js/feilong/feilong-amcharts2.js"></script>

<link rel="stylesheet" type="text/css" href="http://rs.feilong.com:8888/train\css\talk.css" />
<link rel="stylesheet" type="text/css" href="http://rs.feilong.com:8888/train\css\report.css" />

<script type="text/javascript">
	
	    var feilongChart_come={
		    	chartDivId:"comeChartdiv",
		    	dataProvider: ${comeChartIndexList},
		    	titleField:"name",
		    	valueField:"value",
		    	chartTitle:"通知与签到人数情况",
		    	colorField:"color"
		    };
	    var feilongChart_evaluationType={
		    	chartDivId:"evaluationTypeChartdiv",
		    	dataProvider:${evaluationTypeChartIndexList},
		    	titleField:"name",
		    	valueField:"value",
		    	chartTitle:"评价反馈情况",
		    	colorField:"color"
		    };
	    
	    var feilongChart_storeCategoryName={
		    	chartDivId:"storeCategoryNameChartdiv",
		    	dataProvider:${storeCategoryNameChartIndexList},
		    	titleField:"name",
		    	valueField:"value",
		    	chartTitle:"报名项目分布情况",
		    	colorField:"color"
		    };
</script>

<script type="text/javascript" src="http://rs.feilong.com:8888/train\report.js"></script>


</head>

<body>
	<div id="content">

		<h2 id="title">宝尊技术部第一期培训 之《Java集合框架 》报告</h2>
		<hr />

		<p id="preface">2014-08-29 下午钛部培训组完成了第一个培训专题-《Java集合框架》的试讲,下面就这次培训的情况，做个归纳总结，以便更好的提高我们培训组的水平。报告内容包括:报名情况,培训签到情况,培训中情况,培训后反馈及分析...</p>

		<hr />
		<h3>课件准备情况:</h3>
		<div class="moduleContentDiv">
			这个专题分为3个课程(3个课件),课件从开始制作到培训试讲，大约用了 <span>5</span> 个工作日的时间 <br /> <img src="http://rs.feilong.com:8888/train\20140827collection\content20140827.png"
				width="900px"> <br />核心内容:<br />
			<img style="border: 1px solid #f6f6f6" src="http://rs.feilong.com:8888/train\20140827collection\main.png" width="900px">
		</div>

		<hr />
		<h3>报名情况:</h3>
		<div class="moduleContentDiv">
			总报名人数: <span>${trainSignUpEntityList.size()}</span> 人,报名人员项目分布情况:<br />
			<div id="storeCategoryNameChartdiv" style="width: 80%; height: 360px;"></div>
		</div>


		<hr />
		<h3>培训课课前:</h3>
		<div class="moduleContentDiv">
			我和宝尊学院(李春霞)合作，统一使用宝尊学院提供的 《IT培训签到表.xlsx》,继承和修改了 《技术管理系培训反馈表.docx》;<br />宝尊学院提供了DV，并且借调了摄影组三脚架进行了培训课程的现场录制
		</div>

		<hr />
		<h3>签到情况:</h3>
		<div class="moduleContentDiv">
			应到人数: <span>${p0827TrainSignUpEntityList.size()}</span> ,实到人数: <span>${groupByCome.get('1').size()}</span>
			<div id="comeChartdiv" style="width: 80%; height: 260px;"></div>
		</div>

		<hr />
		<h3>培训中情况:</h3>
		<div class="moduleContentDiv">课堂上,袁晓,孙文强，桑佳佳3位同学积极踊跃的提问，讨论，给我留下了很深的印象</div>

		<hr />
		<h3>培训后反馈情况:</h3>
		<div class="moduleContentDiv">
			<div id="evaluationTypeChartdiv" style="width: 80%; height: 280px; margin-top: 10px"></div>
		</div>

		<hr />
		<h3>环比图:</h3>
		<div class="moduleContentDiv">暂无数据</div>

		<hr />
		<h3>"批评":</h3>
		<div class="moduleContentDiv">

			<div class="talk-container">
				#foreach($trainSignUpEntity in ${evaluationTypeAndTrainSignUpListMap.get('批评')} )
				<div class="talk_recordbox">
					<div class="user">
						<span class="talkUserName">${trainSignUpEntity.name}</span><br /> <span style="color: #666">(${trainSignUpEntity.trainSignUpEmployeeEntity.storeCategoryName})</span>
					</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.evaluationContent}</div>
				</div>

				#if(${trainSignUpEntity.communicateResults})
				<div class="talk_recordboxme">
					<div class="user">培训组沟通结果</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.name}意思是，${trainSignUpEntity.communicateResults}</div>
				</div>
				#end #end
			</div>

			<div class="summaryDiv">
				从中，我们看到:
				<ul>
					<li>第一，和伙伴事先同步好培训范围；明确哪些内容不会在此专题内扩展讨论,减少疑问</li>
					<li>第二，积极听取伙伴们需要听到的内容，制定相应专题优先级计划；</li>
					<li>第三，英语口语的加强</li>
				</ul>
			</div>
		</div>

		<hr />
		<h3>建议:</h3>
		<div class="moduleContentDiv">
			<div class="talk-container">
				#foreach($trainSignUpEntity in ${evaluationTypeAndTrainSignUpListMap.get('意见')} )
				<div class="talk_recordbox">
					<div class="user">
						<span class="talkUserName">${trainSignUpEntity.name}</span><br /> <span style="color: #666">(${trainSignUpEntity.trainSignUpEmployeeEntity.storeCategoryName})</span>
					</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.evaluationContent}</div>
				</div>

				#if(${trainSignUpEntity.communicateResults})
				<div class="talk_recordboxme">
					<div class="user">培训组沟通结果</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.name}意思是，${trainSignUpEntity.communicateResults}</div>
				</div>
				#end #end
			</div>

			<div class="summaryDiv">
				从中，我们看到:
				<ul>
					<li>第一，PPT制作时，字体的调整， 有针对性的局部放大，重要的代码片段课前打印好，分发给大家提前阅读；</li>
					<li>第二，代码实例需要适当的增加，满足大家的需求；</li>
					<li>第三，PPT提前给</li>
				</ul>
			</div>
		</div>

		<hr />
		<h3>表扬:</h3>
		<div class="moduleContentDiv">
			<div class="talk-container">
				#foreach($trainSignUpEntity in ${evaluationTypeAndTrainSignUpListMap.get('表扬')} )
				<div class="talk_recordbox">
					<div class="user">
						<span class="talkUserName">${trainSignUpEntity.name}</span><br /> <span style="color: #666">(${trainSignUpEntity.trainSignUpEmployeeEntity.storeCategoryName})</span>
					</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.evaluationContent}</div>
				</div>

				#if(${trainSignUpEntity.communicateResults})
				<div class="talk_recordboxme">
					<div class="user">培训组沟通结果</div>
					<div class="talk_recordtextbg">&nbsp;</div>
					<div class="talk_recordtext">${trainSignUpEntity.name}意思是，${trainSignUpEntity.communicateResults}</div>
				</div>
				#end #end
			</div>

			<!-- <div class="summaryDiv"></div> -->
		</div>

		<hr />
		<h3>评分:</h3>
		<div style="padding-left: 32px">
			<table id="scoreTable">
				#foreach($trainSignUpEntity in ${comeList} )
				<tr style="font-size: 10px">
					<td><span style="font-weight: bold;">${trainSignUpEntity.name}</span><br> <span style="color: #666">(${trainSignUpEntity.trainSignUpEmployeeEntity.storeCategoryName})</span></td>
					<td class="core5Td">${trainSignUpEntity.meetingNoticeScore}</td>
					<td class="core5Td">${trainSignUpEntity.meetingTimeScore}</td>
					<td class="core5Td">${trainSignUpEntity.trainOrganizersAttitudeScore}</td>
					<td class="core5Td">${trainSignUpEntity.trainRoomLayoutScore}</td>
					<td class="core5Td">${trainSignUpEntity.sceneOrderMaintenanceScore}</td>
					<td class="core5Td">${trainSignUpEntity.clearExpressionFriendlyScore}</td>
					<td class="core5Td">${trainSignUpEntity.teachTimeDegreeControlScore}</td>
					<td class="core5Td">${trainSignUpEntity.sceneAtmosphereAdjustmentAbilityScore}</td>
					<td class="core5Td">${trainSignUpEntity.pptContentScore}</td>
					<td class="core5Td">${trainSignUpEntity.pptDesignScore}</td>
					<td class="usefulToMeScoreTd">${trainSignUpEntity.usefulToMeScore}</td>
					<td class="ganhuoScoreTd">${trainSignUpEntity.ganhuoScore}</td>
					<td class="satisfiedTeacherScoreTd">${trainSignUpEntity.satisfiedTeacherScore}</td>
				</tr>
				#end
			</table>

			<div class="summaryDiv">
				从中，我们看到:
				<ul>
					<li>第一,“教室的布置”,有所欠缺，30人的座位没有事先全部准备好，我会和宝尊学院沟通，看看宝尊学院能不能提前把桌/椅整理下；</li>
					<li>第二,“课程时间的安排”，有4个人有意见，这个还需要调研下</li>
					<li>第三,“对授课时间的掌控度”,这个问题，第一堂课内容过于丰富，从计划的60分钟，讲了 80分钟;而第二第三节课，计划60分钟，但每节课只有50分钟，我会对课件内容做适当的调整</li>
					<li>第四,“现场气氛调节能力”,还有提高的空间</li>
				</ul>
			</div>
		</div>

		<hr />
		<div id="logo">
			<img src="http://rs.feilong.com:8888/train/logo.png" width="200px">
		</div>
	</div>
</body>
</html>