* {
	font-family: '微软雅黑'
}

#title {
	text-align: center;
}

/*前言*/
#preface {
	color: #333;
	font-size: 15px;
	text-indent: 18px;
}

/*期号*/
#issue {
	font-family: '华文行楷';
	font-size: 46px;
	color: #2997d8;
}

.redNumber {
	font-family: '华文行楷';
	padding: 1px 1px;
	font-size: 20px;
	color: red;
	/* border-bottom: 1px solid #000 */
}

.elseTime {
	font-family: 'verdana', '微软雅黑';
	background-color: #f6f6f6;
	padding: 6px 2px;
	font-size: 11px;
}

.englishName {
	color: #bbb;
	font-size: 8px;
	font-family: '宋体';
}

h3 {
	/*font-family: '楷体'*/
	padding-bottom: 8px;
	border-bottom: 1px solid #999;
}

/* h3 {
	font-family: '楷体'
	border: 1px solid #FFCC00;
	background-color: #FFFFF7;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
} */
h3:first-letter {
	/*font-family: '楷体'
	color: red;*/
	font-size: 36px;
	font-family: '华文行楷';
}

/* h3:first-letter {
	font-family: '楷体'
	color: red;
	font-size: 24px;
} */
#copyRight {
	color: #999;
	font: italic 10px '宋体';
	/*border: 1px solid #000;*/
}

#logo {
	/*border: 1px solid #000;*/
	width: 69%;
	text-align: right;
	display: inline-block;
}

#logo img {
	width: 180px;
}