.red {
	color: red
}

/*培训时间*/
#trainTime {
	font-family: verdana, 'Courier New', '微软雅黑';
}

/*报名截至时间*/
#registrationDeadline {
	
}

#additionalRemarks {
	color: #666;
	font-size: 11px;
	margin-top: 10px
}

#content {
	border: 1px solid #F6F6F6;
	/*background-color: #FAFCFD;*/
	padding: 4px 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	margin-left: 200px;
	width: 800px;
	/*border: 1px solid #000;*/
}

#declaration {
	border: 1px solid #e8e8e8;
	background-color: #FAFCFD;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	padding: 18px 18px;
	text-shadow: 4px 4px 6px #ccc;
	margin: 26px 18px 40px 18px;
}

#declaration, #declaration * {
	font-family: '楷体';
	text-indent: 38px;
	line-height: 26px;
	color: #555;
}

.indexTd {
	/*font-family: '微软雅黑';*/
	font-style: italic;
	color: #666
}

#listTable>tr>td {
	margin-right: 50px;
	border: 1px solid #000
}

.h_content {
	padding-left: 40px
}

#logo {
	text-align: right;
	margin: 15px
}

hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #999;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

/*纪律数字*/
#disciplineNumber {
	font: italic 42px 'Verdana';
	color: #fd5402
}

li {
	margin-bottom: 8px
}

#trainTimeRemark {
	font-size: 13px;
	color: #444
}