* {
	font-family: '微软雅黑'
}

#content {
	border: 1px solid #CCEFF5;
	background-color: #FAFCFD;
	padding: 4px 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

h3 {
	/*font-family: '楷体'*/
	
}

h3:first-letter {
	/*font-family: '楷体'
	color: red;*/
	font-size: 24px;
}

.indexTd {
	/*font-family: '微软雅黑';*/
	font-style: italic;
	color: #666
}

/*前言*/
#preface {
	color: #333;
	font-size: 15px;
	text-indent: 18px;
}

#title {
	text-align: center;
}

#listTable>tr>td {
	margin-right: 50px;
	border: 1px solid #000
}

.h_content {
	padding-left: 40px
}

#content {
	margin-left: 200px;
	width: 800px;
	/*border: 1px solid #000;*/
}

#logo {
	text-align: right;
	margin: 15px
}

hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #999;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

#countSpan {
	font: italic 42px 'Verdana';
	color: red
}

li {
	margin-bottom: 8px
}