ul {
	list-style: none;
}

#comeChartdiv {
	margin-top: 10px
}

#avgScoreChainGraphChartDiv {
	width: 880px;
	height: 460px;
	margin: 6px 0
}

.disadvantageSpan {
	border: 1px solid #E3E197;
	background-color: #FFFFDD;
	padding: 6px 8px;
	font-size: 13px;
	color: #f60;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	margin-bottom: 4px
}

.advantageDiv {
	margin: 18px 4px;
}

thead div {
	/* 	word-break: break-all;
	table-layout: fixed;
	overflow: auto; */
	
}

#storeCategoryNameChartdiv {
	width: 96%;
	height: 460px;
}

.anonymous {
	color: #0b91ca;
}

.contentsImage, .coreContentImage {
	border: 1px solid #f6f6f6;
	width: 720px;
	margin-left: 50px;
}

.contentImageDiv {
	text-align: center;
	color: #666;
	padding: 4px;
}

#reportVersionType {
	text-align: right;
	color: #999;
	font-family: 'Segoe Print';
	font-size: 18px;
	margin-right: 120px;
}

#content {
	border: 1px solid #f3f3f3;
	/*background-color: #FAFCFD;*/
	padding: 4px 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	margin: 0 200px 0 200px;
	/*width: 800px;*/
}

.indexTd {
	/*font-family: '微软雅黑';*/
	font-style: italic;
	color: #666
}

.h_content {
	padding-left: 40px
}

hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #999;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	clear: both;
}

#countSpan {
	font: italic 42px 'Verdana';
	color: red
}

li {
	margin-bottom: 8px
}

.communicateResultsDiv {
	color: red;
	margin-top: 20px
}

.nameTd {
	width: 140px
}

.centerTd {
	text-align: center;
}

table {
	/*border: 1px solid #000*/
	
}

.summaryDiv {
	clear: both;
	margin-top: 6px;
	padding: 10px 4px 2px 12px;
	border: 1px solid #000;
	font-size: 14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ADCD3C;
	background-color: #F2FDDB;
}

.talkUserName {
	font-weight: bold;
	font-size: 15px
}

.moduleContentDiv {
	padding-left: 32px
}

.flexigrid th {
	word-break: break-all; /*支持IE，chrome，FF不支持*/
	word-wrap: break-word; /*支持IE，chrome，FF*/
}