<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/logs/feilong/feilong-application-weibo/log.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p (%F:%L) [%M()] %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p (%F:%L) [%M()] %m%n" />
		</layout>
	</appender>

	<category name="loxia.support.json">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.HttpConnection">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.HttpParser">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.HeaderElement">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.Wire">
		<level value="warn" />
	</category>

	<category name="httpclient.wire.header">
		<level value="warn" />
	</category>

	<category name="httpclient.wire.content">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.methods.EntityEnclosingMethod">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.methods.PostMethod">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.HttpMethodBase">
		<level value="warn" />
	</category>

	<category name="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager">
		<level value="warn" />
	</category>

	<root>
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>