<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>WeatherServlet</servlet-name>
		<servlet-class>com.arj.servlet.WeatherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WeatherServlet</servlet-name>
		<url-pattern>/weather</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>tianqi.jsp</welcome-file>
	</welcome-file-list>
</web-app>
